<div class = "recuperar-container">
  <mat-card class="recuperar-card">
    <h2 class="titulo">Recuperar contraseña</h2>
    <p class="descripcion">
      ¿Olvidaste tu contraseña? <br />
      Tranquilo, aquí puedes recuperarla.
    </p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo</mat-label>
      <input matInput type="email" placeholder="Ingrese su correo" [(ngModel)]="correo" required email>
    </mat-form-field>

    <button mat-button class="submit-btn" (click)="Verificar()">Enviar código</button>
  </mat-card>
</div>
