<div class = "recuperar-container">
  <mat-card class="recuperar-card">
    <h2 class="titulo">Recuperar contraseña</h2>
    <p class="descripcion">
      ¿Olvidaste tu contraseña? <br />
      Tranquilo, aquí puedes recuperarla.
    </p>
    <mat-form-field appearence = "outline" class="email-input">
      <mat-label>Correo</mat-label>
      <input matInput type="email" required />
      <mat-hint>* Campo obligatorio</mat-hint>
    </mat-form-field>

    <button mat-button class="submit-btn" (click)="Verificar()">Enviar código</button>
  </mat-card>
</div>
