/* Contenedor Principal */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  background: url('https://images.unsplash.com/photo-1500595046743-cd271d694d30?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FuYWRvfGVufDB8fDB8fHww') center/cover no-repeat;
}

/* Tarjeta del Formulario */
.register-card {
  display: flex;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  background: rgba(255, 255, 255, 0.611);
  border-radius: 50px;
  overflow: hidden;
}

/* Sección del Formulario */
.form-section {
  width: 85%;
  padding: 30px;
}

.form-section h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #7B1F30;
}

/* Estilo de los Inputs */
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.row {
  display: flex;
  gap: 10px;
}

.small-field {
  width: 33%;
}

/* Botón de Aceptar */
.submit-btn {
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
  background-color: white;
  color: #7B1F30;
  border: 1px solid #7B1F30;
}

.submit-btn:hover {
  background-color: #7B1F30;
  color: white;
}

/* Sección del Logo */
.logo-section {
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
}
.logo {
  width: 120px;
  height: 120px;
  border-radius: 70%;
  background: rgba(252, 250, 250, 0.762);
  padding: 10px;
}
