/* Estilo general del card de publicación */
mat-card {
    justify-content: auto ;
  margin: 20px auto;
  align-items: center;
  max-width: 500px;
  background-color: #fff4f4;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Título */
mat-card-title.title {
  font-size: 24px;
  color: #5a0f0f;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

/* Campo archivo */
input[type="file"] {
  margin: 15px 0;
  display: block;
  font-size: 15px;
}

/* Botón publicar */

.submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  color: #7B1F30;
  background-color: #fff;
  border: 2px solid #7B1F30;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #7B1F30;
  color: white;
}
/* Scroll horizontal de imágenes */
.scroll-container {
  justify-content: auto ;
  display: flex;
  overflow-x: auto;
  gap: 12px;
  margin-top: 15px;
  padding-bottom: 8px;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #eee;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #eee;
}

/* Imágenes de vista previa */
.preview-img {
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Texto informativo */
mat-card-content h4 {
  margin-top: 20px;
  color: #5a0f0f;
  font-weight: 600;
}

/* Contenedor exterior del carrusel */
.carousel-track-container {
  overflow: hidden;
  width: 80%;
  max-width: 6000px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}

.carousel-track {
  justify-content: CENTER;
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.carousel-card {
  min-width: 10%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-card img {
  justify-content: center;
  width: 80%;
  max-height: 300px;
  object-fit: contain; /* asegura que se vea completa */
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
@media screen and (max-width: 768px) {
  .carousel-card img {
    max-height: 250px;
  }
}
mat-card.carousel-card {
  background: none;
  box-shadow: none;
  padding: 0;
}
