.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
}

.preview-img {
  height: 200px;
  border-radius: 8px;
}

.w-100 {
  width: 100%;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}
