<div class="register-container">
  <mat-card class="register-card">
    <!-- Sección del formulario -->
    <div class="form-section">
      <h2>CREAR PUBLICACION</h2>
      <form [formGroup]="publicacionForm" (ngSubmit)="puclicar()">

        <mat-form-field appearance="outline">
          <mat-label>Tipo de Publicación</mat-label>
          <mat-select formControlName="tipoVenta" required>
            <mat-option value=1>Venta de ganado</mat-option>
            <mat-option value=2>Venta de haciendas</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label>Subir Imagenes</mat-label>
        <br>
        <div class="imagenes">
          <input formControlName="Imagenes" type="file" multiple (change)="onImageSelected($event)" />
        </div>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Informacion</mat-label>
          <input matInput formControlName="Informacion" type="text" required />
        </mat-form-field>

        <button mat-raised-button color="primary" class="submit-btn" type="submit">PUBLICAR</button>
      </form>

    </div>

    <!-- Sección del Logo -->
  </mat-card>
</div>
