
.perfil-container {
  display: flex;
  gap: 100px;
  padding: 10px;
  background: url('/fondo.jpg') center/cover no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.perfil-lateral {
  width: 280px;
  padding: 20px;
  text-align: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.perfil-img {
  margin: 20px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.verified {
  color: #42a5f5;
  font-size: 18px;
  vertical-align: middle;
}

.email {
  font-size: 0.9em;
  color: gray;
}

.tipo-usuario {
  background-color: #e0c0c0;
  margin-top: 20px;
  padding: 10px;
}

.perfil-info {
  flex: 1;
  padding: 20px;
  background-color: #f7f7f7;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

ul {
  padding-left: 20px;
}

.informacion-contacto {
  margin-top: 20px;
}
.submit-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  font-weight: bold;
  background-color: white;
  color: #7B1F30;
  border: 1px solid #7B1F30;
  }


.submit-btn:hover {
  background-color: #7B1F30;
  color: white;
}


.upload-section {
  margin-top: 30px;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.upload-section input[type="file"] {
  margin: 10px 0;
}

.submit-btn {
  padding: 8px 20px;
  background: #7B1F30;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}
