<div class="password-reset-container">
  <div class="password-card">
    <h2>Nueva contraseña</h2>
    <p>Re establecer una nueva contraseña.</p>

    <mat-form-field appearance="outline" class="password-field">
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" placeholder="Nueva contraseña" [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field appearance="outline" class="password-field">
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" placeholder="Confirmar contraseña" [(ngModel)]="confirmPassword">
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit-btn" (click)="inicarsesion()">Iniciar sesión</button>
  </div>
</div>
