<app-user-header></app-user-header>

<div class="post-container">
  <div clsas="post-header">
    <img src="/imagen.jpg" alt="Avatar" class="avatar">
    <div class=" user-info">
      <strong>Luis Villa</strong><span class=" verified">*</span><br>
      <smalL># Publicado desde 20/03/2022</smalL>
    </div>
  </div>
</div>

<div class="post-imagen">
  <img src="/venta.jpg" alt="Publicacion">
  <div class="post-description">
    <h4>INFORMACION</h4>
    <P>Se vende lote de ganado raza brahman rojo puro</P>
  </div>
</div>


<div class="contact-button">
  <button>
    <img src="assets/phone.png" alt="Teléfono"> Contactar con vendedor
  </button>
</div>


<app-user-footer></app-user-footer>

