<app-user-header></app-user-header>

<div class="post-container">
  <div class="post-header">
    <img src="/imagen.jpg" alt="Avatar" class="avatar">
    <div class="user-info">
      <strong>Luis Villa</strong><span class="verified">*</span><br>
      <small># Publicado desde 20/03/2022</small>
    </div>
  </div>

  <div class="carousel-container">
    <button mat-raised-button color="primary" (click)="goPrevius()" [disabled]="currentIndex ===0"> < </button>

    <div class="carousel-track-container">
        <div class="carousel-track" [style.transform]="getTransform()">
            <mat-card class="carousel-card" *ngFor="let card of cards">
                <img mat-card-image [src]="card.image" alt="Imagen de la tarjeta"/>
                <mat-card-title>{{card.title}}</mat-card-title>
                <!-- <mat-card-actions>
                    <button mat-button color="accent" (click)="mostrarDetalle(card)">{{card.title_button}}</button>
                </mat-card-actions> -->
            </mat-card>

        </div>
    </div>
    <button mat-raised-button color="primary" (click)="goNext()" [disabled]="currentIndex===cards.length-1"> > </button>
</div>

  <div class="post-description">
    <h4>INFORMACIÓN</h4>
    <p>Se vende lote de ganado raza brahman rojo puro.</p>
  </div>
    <button mat-raised-button color="primary" class="submit-btn">Contactar vendedor</button>

</div>

<app-user-footer></app-user-footer>
