<app-user-header></app-user-header>
<br>

<!-- Encabezado -->
<section class="inicio-section">
<br>

<div class="contenedor-bibliografia">
  <h1>Publicaciones </h1>
  <p>Explora todas las publicaciones que han hecho en Livestock.</p>

  <div class="filtros">
    <button (click)="seleccionarFiltro('todos')">Todos</button>
    <button (click)="seleccionarFiltro('ganado')">ganado</button>
    <button (click)="seleccionarFiltro('hacienda')">hacienda</button>
  </div>
    <button mat-raised-button color="accent" (click)="Publicar()">
      <mat-icon>add</mat-icon> Hacer Publicación
    </button>


  <div class="grid-recursos">
    <div class="tarjeta-recurso" *ngFor="let recurso of recursosFiltrados">
      <img [src]="recurso.imagen" alt="Recurso" />
      <h3>{{ recurso.Descripcion }}</h3>
      <p><strong>Usuario:</strong> {{ recurso.Usuario }}</p>
      <p><strong>Fecha:</strong> {{ recurso.FCreacion }}</p>
      <a [href]="recurso.enlace" target="_blank">Ver recurso</a>
    </div>
  </div>
</div>
<app-user-footer></app-user-footer>
