<mat-card class="mat-card">
  <h2 class="title">Editar Perfil</h2>

  <!-- Foto de perfil -->
  <div class="foto-perfil">
    <p><span>Subir foto</span></p>
    <img *ngIf="imagenPrevia" [src]="imagenPrevia" alt="Foto de perfil" class="preview-img" />
    <input type="file" (change)="cargarImagen($event)" accept="image/*" />
  </div>

  <!-- Hoja de vida -->
  <div class="foto-perfil">
    <p><span>Hoja de vida (opcional)</span></p>
    <input type="file" (change)="cargarDocumento($event)" accept=".pdf,.doc,.docx" />
  </div>

  <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
    <div class="submit-container">
      <button type="submit" class="submit-btn">Guardar</button>
    </div>
  </form>
</mat-card>
