<mat-card class="perfil-upload-card">
  <h2 class="upload-title">Subir Foto de Perfil</h2>

  <div class="foto-perfil">
    <img *ngIf="imagenPrevia" [src]="imagenPrevia" alt="Foto de perfil" class="preview-img" />
    <label class="custom-file-upload">
      <input type="file" (change)="cargarImagen($event)" accept="image/*" />
      
      Seleccionar Foto
    </label>
  </div>

  <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
    <div class="submit-container">
      <button mat-raised-button class="submit-btn">Guardar</button>
    </div>
  </form>
</mat-card>
