.inicio-section {
  background: url('/fondo.jpg') center/cover no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  button {

  margin-top: 15px;
  font-weight: bold;
  background-color: white;
  color: #7B1F30;
  border: 1px solid #7B1F30;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  button:hover{
    background-color: #7B1F30;
    color: white;

  }
}

.welcome-card {
  margin: 40px auto;
  padding: 30px;
  background: white;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

  button {

    margin-top: 15px;
    font-weight: bold;
    background-color: white;
    color: #7B1F30;
    border: 1px solid #7B1F30;
    }
    button:hover{
      background-color: #7B1F30;
      color: white;

    }
}
.post-container {
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  button {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    background-color: white;
    color: #7B1F30;
    border: 1px solid #7B1F30;
    }
    button:hover{
      background-color: #7B1F30;
      color: white;

    }
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.verified {
  color: dodgerblue;
  font-size: 1.2em;
  margin-left: 5px;
}

.post-imagen {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.post-description {
  background: #eddede;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}


.post-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;


}

.carousel-wrapper{

  text-align: center;
  padding: 20px;
  max-width: 2000px;
  margin: auto;
}

.description{
  margin-bottom: 20px;
  font-style: italic;
  color: #e61c1c;
}

.carousel-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel-track-container{
  width: 500px;
  overflow: hidden;
}
.carousel-track{
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-card{

  min-width: 500px;
  margin: 0 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.detalle-info{
  margin-top: 30px;
  padding: 20px;
  border-top: 2px solid #000000;
  background-color: #cabdbd;
  text-align: center;
  animation: fadeIn 0.3 ease-in-out;
}

@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}


