<app-user-header></app-user-header>
<div class="inicio-section">
  <div class="inicio-overlay">
    <h1>Donde la tradición y el futuro se encuentran</h1>
    <button mat-raised-button color="primary" class="submit-btn">Conoce más aquí</button>
  </div>
</div>

<div class="welcome-selection">
  <h2><strong>Bienvenidos a <span class="highlight">LIVESTOCKWEB</span></strong></h2>
  <p>
    En LIVESTOCKWEB, nos dedeicamos a revolucionar el mundo la ganaderia n Casanare
    con un enfoque único en la venta llanera.
  </p>
  <p>
    Compromwridos con la calidad y la innovacion, ofrecemos una experiencia inigualable a nuestros clientes.
  </p>
</div>
