<div class = "verificar-container">
  <mat-card class ="verificar-card">
    <h2 class="titulo">Verifique Código</h2>
    <p class = "descripcion">
      Se te ha enviado un código a tu correo.
    </p>
    <mat-form-field appearence = "outline" class="codigo-input">
      <mat-label>Código</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="text" required />
    </mat-form-field>

    <button mat-raised-button color = "primary" class="nueva_contraseña">
      Nueva contraseña
    </button>
    <a href="#" class = "Reenviar código">Reenviar c</a>
  </mat-card>
</div>
