.verificar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/fondo.jpg')no-repeat center center;
  background-size: cover;
}
.verificar-card {
  color: rgba(255, 255, 255, 0.384);
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}
.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #a72c4f;
}

.descripcion {
  font-size: 16px;
  margin-bottom: 20px;
  color: #a72c4f;
}

.codigo-input {
  width: 100%;
}

.boton-nueva-contraseña {
  width: 100%;
  margin: 15px 0;
  font-weight: bold;
  background-color: #a72c4f;
  color: #000;
  border-radius: 6px;
}

.reenviar-codigo {
  display: block;
  margin-top: 10px;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.reenviar-codigo:hover {
  color: #a72c4f;
}

.submit-btn {
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
  background-color: white;
  color: #7B1F30;
  border: 1px solid #7B1F30;
}
.submit-btn:hover {
  background-color: #7B1F30;
  color: white;
}
