<div class="container">
  <div class="card-container">
    <mat-card class="user-card">
      <div class="logo-container">
        <img src="/logo.jpg" alt="Logo Livestock" class="logo">
      </div>

      <div class="user-types">
        <!-- Usuario Vendedor -->
        <div class="user-type">
          <h3>USUARIO VENDEDOR</h3>
          <ul>
            <li>Podrás publicar ganado y haciendas.</li>
            <li>Acceso al catálogo de ganado premium.</li>
            <li>Obtendrás un símbolo verificado.</li>
            <li>Chatea con más usuarios.</li>
            <li>Descargar bibliografía ganadera.</li>
            <li>Hoja de vida con información del vendedor.</li>
          </ul>
          <button mat-raised-button color="warn" class="user-btn" (click)="goToRegister2()" >VENDEDOR</button>
        </div>

        <!-- Línea divisoria -->
        <div class="divider"></div>

        <!-- Usuario Común -->
        <div class="user-type">
          <h3>USUARIO COMÚN</h3>
          <ul>
            <li>Acceso al catálogo de ganado premium.</li>
            <li>Chatea con más usuarios.</li>
            <li>Información sobre ventas.</li>
            <li>Calificar ventas.</li>
            <li>Descargar bibliografía ganadera.</li>
            <li>Acceso a ver las publicaciones.</li>
          </ul>
          <button mat-raised-button color="primary" class="user-btn" (click)="goToRegister()">ESTANDAR</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

