<header class="main-header">
  <div class="logo-contenedor">
    <div class="logo-animado">LIVESTOKWEB</div>

    <div class="nombre-usuario" (click)="perfil()">{{NombreUsuario}}</div>
  </div>
  <nav class="nav-menu">
    <a routerLink="/inicio" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
    <a routerLink="/publicaciones" routerLinkActive="active-link">Publicaciones</a>
    <a routerLink="/ganado" routerLinkActive="active-link">Venta de ganado</a>
    <a routerLink="/haciendas" routerLinkActive="active-link">Venta de haciendas</a>
    <a routerLink="/biografia" routerLinkActive="active-link">Bibliografia ganadera</a>
  </nav>
</header>
