.main-header {
  background: #f5f1f1;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  width: 95%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  font-size: 26px;
  font-weight: 8 00;
  color: #7B1F30;
  cursor: pointer;
  text-transform: uppercase;
}

/* Menú de navegación */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #1e0808;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.nav-menu a.active,
.nav-menu a:hover {
  color: #7B1F30;
  border-color: #7B1F30;
}

/* Enlace activo */
.active-link {
  color: #7B1F30;
  border-bottom: 2px solid #7B1F30;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 15px 25px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }
}
