<header class="main-header">
  <div class="logo">LIVESTOKWEB</div>
  <nav class="nav-menu">
    <a routerLink="/inicio" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
    <a routerLink="/#" routerLinkActive="active-link">REGISTRO</a>
    <a routerLink="/publicaciones" routerLinkActive="active-link">PUBLICACIONES</a>
    <a routerLink="/ganado-premium" routerLinkActive="active-link">GANADO PREMIUM</a>
    <a routerLink="/venta-fincas" routerLinkActive="active-link">VENTA DE FINCAS</a>
    <a routerLink="/bibliografia" routerLinkActive="active-link">BIBLIOGRAFÍA GANADERA</a>
    <a routerLink="/contacto" routerLinkActive="active-link">CONTACTO</a>
  </nav>
</header>
