.spacer{
  flex: 1 1 auto;
}
.toolbar {
  position: sticky;
  top:0;
  z-index: 1000;
}

.app-name {
  font-weight: bold;
  margin-left: 8px;

}

.usuario{
  font-weight: 500;
  margin-right: 12px;

}

.sidenav-container{
  height: 100%;

}

.sidenav {
  width: 250px;
}
